$accent-color: #FBDC4D;
$accent-color-hover: #ffd000;
$black-color: #000;
$white-color: #fff;
$link-color: #1A71D2;
$copyright-color: #B0B0B0;
$button-light-color:  #EFF7FC;
$button-light-color-hover:  #d7f0ff;
$timeline-color: #E1EEF4;
$footer-bc-color: #333333;
