.header-skills {
    display: flex;
    column-gap: 30px;
    padding-top: 70px;
    margin-top: -80px; // Pixel perfect

    /* Mobile XS */
    @media (max-width: 767px) {
        flex-direction: column;
        row-gap: 30px;
        margin-top: -60px;
    }
}

.header-skills__col {
    width: 635px;

    /* Tablet */
    @media (max-width: 1139px) {
        width: 493px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        width: 354px;
    }

    /* Mobile XS */
    @media (max-width: 767px) {
        width: 290px;
    }
}

.header-skills__title {
    margin-bottom: 30px;

    /* Tablet */
    @media (max-width: 1139px) {
        margin-bottom: 20px;
    }
}

.header-skills__list {
    font-size: 22px;

    /* Tablet */
    @media (max-width: 1139px) {
        font-size: 18px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        font-size: 16px;
    }
}

.header-skills__item {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        content: "\2014";
        margin-right: 5px;

        /* Mobile */
        @media (max-width: 899px) {
            display: none;
        }
    }
}

.header-skills__icons {
    margin-bottom: 20px; // Pixel perfect

    /* Mobile XS */
    @media (max-width: 767px) {
        margin-bottom: 25px;
    }
}
